.card-list {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.cards-list-item__inner {
    width: 105px;
    height: 150px;
}

.mark .letter,
#uppercase {
    font-size: 48px;
}

.corner-number {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -.1em;
    font-size: .8em;

    &.top {
        top: 0.75em;
        left: 0.75em;
    }

    &.bottom {
        bottom: 0.75em;
        right: 0.75em;
        transform: rotate(180deg);
    }

    &::after {
        line-height: 0;
        display: block;
        width: .5em;
    }
}

.icon {
    width: 15px;
    height: 15px;
}

.front-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    position: relative;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: .25em;
    padding: 1.5em;
    text-align: center;
}